<%- include('header_user') -%>
<main>
  <div>
    <form class="pure-form" action='/perfil' method='post'>
      <h2><%= pergunta.descricao %></h2>
      <p><%= pergunta.tipo %></p>
      <input type="int" name="idPergunta" value=<%= pergunta.idPergunta %> hidden/>
      <% if(pergunta.tipo == 'Texto') { %>
        <input type="text" id="respostaTexto" name="respostaTexto" />
      <% } 
        else if ( pergunta.tipo == 'Numero' ) { %>
          <input type="number" id="respostaNumero" name="respostaNumero" />
      <% } 
        else if ( pergunta.tipo == 'Unica' ) { %> 
          <% opcoes.forEach( opcao => { %>
            <label for=<%= opcao.idOpcao %> class="pure-radio">
              <input
                type="radio"
                id=<%= opcao.idOpcao %>
                name="idOpcao"
                value=<%= opcao.idOpcao %>
              />
              <%= opcao.descricao %>
            </label>
          <% }) %> 
      <% } 
        else if ( pergunta.tipo == 'Multiplas' ) { %> 
          <% opcoes.forEach( opcao => { %>
            <label for=<%= opcao.idOpcao %> class="pure-checkbox">
              <input type="checkbox" id=<%= opcao.idOpcao %> name="idOpcao" value=<%= opcao.idOpcao %> />
              <%= opcao.descricao %>
            </label>
          <% }) %> 
      <% } 
        else if ( pergunta.tipo == 'Intervalo' ) { %>
          De 
          <input type="number" id="respostaIntervalo1" name="respostaIntervalo1" /> 
          até 
          <input type="number" id="respostaIntervalo2" name="respostaIntervalo2" />
      <% } %>

      <div class="pure-controls">
        <button type="button" class="pure-button pure-button-primary" id="btnAnterior" onclick="anterior()">
          Anterior
        </button>
        <button type="submit" class="pure-button pure-button-primary" id="btnSalvar">
          Salvar e Próxima
        </button>
        <button type="button" class="pure-button pure-button-primary" id="btnProxima">
          <a href="/perfil">Próxima</a>
        </button>
      </div>
    </form>
  </div>
</main>

<script>
  const respostas = <%- JSON.stringify(respostas) %> 
  respostas.forEach((resposta) => {
    if (resposta.idOpcao) {
      console.log('entrou no opcao')
      document.getElementById(resposta.idOpcao).checked = true;
    } else if (resposta.respostaTexto) {
      document.getElementById("respostaTexto").value = resposta.respostaTexto;
    } else if (resposta.respostaNumero) {
      document.getElementById("respostaNumero").value = resposta.respostaNumero;
    } else if (resposta.respostaIntervalo1 || resposta.respostaIntervalo2) {
      document.getElementById("respostaIntervalo1").value =
        resposta.respostaIntervalo1;
      document.getElementById("respostaIntervalo2").value =
        resposta.respostaIntervalo2;
    }
  });
</script>
<script src="/js/perfil.js"></script>
<%- include('footer') -%>
